body {
  font-family: 'Hachi Maru Pop', cursive;
  background-color: #fcf8e8;
  color: #312c51;
}

ul{
  list-style: none;
  margin: 0;padding: 0;

}

input{
  font-family: 'Hachi Maru Pop', cursive;
  font-size: 20px;
  text-align: center;
  background-color: #fcf8e8;
  width: 100%%;
  padding: 10px 10px 10px 16px;
  box-sizing: border-box;
  border: none;
}

span{
  height: 60px;
  text-align: center;
  width: 60px;
}

input:focus{
  outline: none;}

#container{
  width: 50%;
  margin: 100px auto;
  box-shadow: 0 0 4px rgba(0,0,0, 0.5);
  text-align: center;
}

h1{
  background-color: #df7861;
  margin: 0;
  padding:10px 20px;
  text-transform: uppercase;
}

.done{
  color: gray;
  text-decoration: line-through;
}

li{
  background-color: #d4e2d4;
  padding: 0 0 0 20px;
  height: 80px;
  line-height: 80px;
}

li:nth-child(2n){
  background-color: #ecb390;

}
